@import url("reset.css");
@import url("common.css");
@import url(https://fonts.googleapis.com/css?family=Inter:500,600,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Roboto:regular,500&display=swap);
@import url(https://fonts.googleapis.com/css?family=Oswald:regular,500&display=swap);
body {
	color: #637381;
	font-family: "Inter", sans-serif;
}

[class*="_container"] {
	max-width: 730px;
	padding: 0 15px;
	margin: 0 auto 100px;
	
}
.wrapper {
	overflow: clip;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
.wrapper > main {
	flex-grow: 1;
	padding: 100px 0;
}
/* ----------------------------------------- */

.block__subtitle {
	font-weight: 500;
	line-height: 1.5;
	margin-bottom: 50px;
}
.block__some-titile {
	font-weight: 700;
	font-size: 24px;
	color: #212B36;
	line-height: 1.25;
	margin-bottom: 30px;
}
.block__title {
	margin: 0 0 8px 0;
}
.registration-form__form {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 30px;
	margin-bottom: 35px;
}
.form__item {
	display: flex;
	flex-wrap: wrap;
	flex-grow: 0;
	flex-shrink: 1;
	flex-basis: 100%;
	margin: 0 -14px;
}
.form__item > div {
	flex-grow: 0;
	flex-shrink: 1;
	flex-basis: 50%;
	padding: 0 14px;
}
[class*="__input"] {
	border-radius: 7px;
	border: 1px solid #E7E7E7;
	height: 54px;
	padding: 15px 25px;
	font-weight: 500;
	line-height: 1.5;
	width: 336px;
	cursor: pointer;
}
[class*="__input"]:focus {
	outline: 1px solid #3056D3;
} 
.item__information-textarea {
	width: 100%;
	height: 180px;
	resize: vertical;
	border: 1px solid #E7E7E7;
	border-radius: 7px;
	padding: 25px;
}
.form__item--padding {
	flex: 0 1 100%;
	padding: 0 14px;
}
.item__list { 
	width: 336px;
	height: 54px;
	border: 1px solid #E7E7E7;
	border-radius: 7px;
	background-color: #ffffff;
	color: #637381;
	font-weight: 500;
	line-height: 1.5;
	font-size: 16px;
	font-family: "Inter", sans-serif;
	padding: 15px 25px;
	cursor: pointer;
} 
.item__list:focus {
	outline: 1px solid #3056D3;;
}
.registration-form__create-account {
	margin-bottom: 55px;
	display: flex;
	flex-direction: column;
	gap: 25px;
}
.create-account__radio{
	position: relative;
	flex: 0 1 50%;
}

.radio__input {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}
.radio__label {
	margin-left: 36px;
}
.radio__label:before {
	content: "";
	position: absolute;
	top: -4px;
	left: 0;
	border: 1px solid #E7E7E7;
	width: 22px;
	height: 22px;
}
.radio__input:checked + .radio__label:before {
	background: url(../img/frame.svg) center / 15px no-repeat;
}
.registration-form__discount > *:not(:last-child) {
	margin-bottom: 25px;
}
.discount__title-code {
	font-weight: 600;
	font-size: 20px;
	line-height: 1.3;
	color: #212B36;
}
.discount__input {
	width: 325px;
	height: 48px;
	margin-right: 20px;
}
.discount__button {
	border: 1px solid #212B36;
	border-radius: 5px;
	min-height: 48px;
	min-width: 135px;
	background-color: #212b36;
	color: #ffffff;
	transition: all 0.5s;
}
.discount__promocode:hover .discount__button {
	background-color: rgba(33, 43, 54, 0.822);
	transform: scale(1.1);
	transition: all 0.5s;
}
.discount__promocode:active .discount__button {
	transform: scale(0.6);
	transition: all 0.5s;
	background-color: #3056D3;
}
/* ----------------------------------------------- */
.page__container--size {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	line-height: 1.25;
	color: #3F3F3F;
	max-width: 636px;
}
.section__title-form {
	font-family: "Oswald", sans-serif;
	font-weight: 400;
	font-size: 24px;
	color: #000000;
	margin: 0 0 34px 0;
}
.autorization-form__line {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	gap: 24px;
	margin: 0 0 20px 0;
}
.star {
	color: #EB5757;
}
.line__input {
	width: 454px;
	border: 1px solid #C4C4C4;
}
.line__velue {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	flex: 0 1 100%;
}
.line__subitem {
	flex: 0 1 auto;
}
.text {
	font-size: 14px;
	color: #828282;
	line-height: 1.4;
	margin-bottom: 24px;
}
.button__submit {
	text-transform: uppercase;
	font-family: "Oswald", sans-serif;
	font-weight: 500;
	font-size: 14px;
	color: #FFFFFF;
	padding: 14.5px 43.53px;
	background-color: #000000;
	background: #000000;
	transition: all 0.5s;
	margin-right: 25px;
}
.button__submit:hover {
	background-color: rgba(0, 0, 0, 0.939);
	transform: scale(1.1);
	transition: all 0.5s;
}
.link {
	color: #0F6DB1;
}
.link:hover {
	text-decoration: underline;
}
.autorization-form__button--decor::after {
	content: "";
	display: inline-block;
	width: 100%;
	border-bottom: 1px solid #C4C4C4;
	padding: 40px 0 0 0;
}

.page__section:not(:last-child) {
	margin: 0 0 39px 0;
}
.line__velue--size {
	justify-content: flex-end;
}
.section__title-form--margin {
	margin: 0 0 40px 0;
}
.autorization-form__radio {
	margin-bottom: 24px;
	font-family: "Roboto", sans-serif;
	color: #3F3F3F;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.4;
}
.autorization-form__option {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: flex-start;
	max-width: 443px;
}
.option__radio-item {
	display: flex;
	justify-content: space-between;
	flex: 0 1 33.334%;
	padding: 15px 63px 15px 0;
}
.autorization-form__option--design::after {
	display: flex;
	content: "";
	width: 443px;
	height: 1px;
	border: 1px solid #C4C4C4;

}
.autorization-form__option--design::before {
	content: "";
	width: 606px;
	height: 1px;
	border: 1px solid #C4C4C4;
}

.radio-item__method {
	min-width: 180px;
}
.radio-item__label {
	min-width: 100px;
}
.autorization-form__button--flex {
	display: flex;
	justify-content: space-between;
}
.button__link--back {
	font-family: "Oswald", sans-serif;
	font-weight: 500;
	color: #828282;
	font-size: 14px;
	text-transform: uppercase;
}