@import url("reset.css");
body {
	background-color: rgba(21, 20, 20, 0.67); 
}
.container {
	max-width: 1300px;
	margin: 0 auto;
	padding: 15px 15px;
	text-align: center;
}

h1,
h2 {
	font-size: 36px;
	font-weight: 700;
	color: #ffff;
	text-decoration: underline;
	text-transform: uppercase;
}
h2 {
	margin-bottom: 20px;
}

.content__photo {
	border: 1px solid transparent;
	border-radius:  20px;
}

.content__photo--radius {
	border-radius: 50%;
}
img {
	max-width: 100%;
}