.brand-title {
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 2.83;
  text-transform: uppercase;
}

.title {
  max-width: 369px;
  font-family: "Oswald", sans-serif;
  font-size: 48px;
  font-weight: 600;
  line-height: 1.29; /* 62/48 */
  color: #000000;
  text-transform: uppercase;
}
@media (max-width: 1650px) and (min-width: 991.98px) {
  .title {
    font-size: 36px;
  }
}
@media (max-width: 991.98px) {
  .title {
    font-size: 32px;
  }
}
@media (max-width: 870px) and (min-width: 768.98px) {
  .title {
    font-size: 28px;
  }
}
@media (max-width: 450px) {
  .title {
    font-size: 20px;
  }
}
@media (max-width: 320.98px) {
  .title {
    font-size: 16px;
    max-width: 150px;
  }
}

.subtitle {
  max-width: 369px;
  font-size: 22px;
  line-height: 1.68; /* 37/22 */
  color: #000000;
}
@media (max-width: 1300px) {
  .subtitle {
    max-width: 280px;
    font-size: 18px;
  }
}
@media (max-width: 1100px) {
  .subtitle {
    font-size: 16px;
    max-width: 250px;
  }
}
@media (max-width: 870px) {
  .subtitle {
    font-size: 14px;
    max-width: 200px;
  }
}
@media (max-width: 362px) {
  .subtitle {
    font-size: 10px;
    max-width: 150px;
  }
}

.button {
  display: block;
  color: #000000;
  font-size: 18px;
  font-weight: 500;
  font-family: "Oswald", sans-serif;
  line-height: 1.48; /* 26.68/18 */
  text-align: center;
  border: 2px solid #000000;
  text-transform: uppercase;
  padding: 15px 40px;
  -webkit-transition: background-color 0.8s, color 0.8s;
  -o-transition: background-color 0.8s, color 0.8s;
  transition: background-color 0.8s, color 0.8s;
}
@media (max-width: 1650px) {
  .button {
    padding: 10px 20px;
  }
}
@media (max-width: 372px) {
  .button {
    font-size: 10px;
    min-width: 86px;
    padding: 10px 8px;
  }
}
@media (any-hover: hover) {
  .button:hover {
    background-color: rgb(0, 0, 0);
    color: #ffffff;
  }
}

.filter-title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 2.8; /* 68/24 */
  text-transform: capitalize;
}
@media (max-width: 440px) {
  .filter-title {
    font-size: 18px;
  }
}

.some-title {
  font-size: 56px;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  max-width: 639px;
}
@media (max-width: 1427px) {
  .some-title {
    font-size: 44px;
    max-width: 550px;
  }
}
@media (max-width: 1270px) {
  .some-title {
    max-width: 500px;
  }
}
@media (max-width: 1067px) {
  .some-title {
    font-size: 38px;
    max-width: 450px;
  }
}
@media (max-width: 820px) {
  .some-title {
    font-size: 28px;
    max-width: 350px;
  }
}
@media (max-width: 737px) {
  .some-title {
    max-width: 250px;
    font-size: 22px;
    line-height: 1;
  }
}
@media (max-width: 555.98px) {
  .some-title {
    font-size: 14px;
    max-width: 172px;
  }
}

.some-subtitle {
  font-size: 25px;
  max-width: 639px;
}
@media (max-width: 1427px) {
  .some-subtitle {
    max-width: 550px;
    font-size: 22px;
  }
}
@media (max-width: 1270px) {
  .some-subtitle {
    max-width: 500px;
  }
}
@media (max-width: 1067px) {
  .some-subtitle {
    font-size: 20px;
    max-width: 450px;
  }
}
@media (max-width: 820px) {
  .some-subtitle {
    max-width: 350px;
  }
}
@media (max-width: 737px) {
  .some-subtitle {
    max-width: 250px;
    font-size: 16px;
  }
}
@media (max-width: 555.98px) {
  .some-subtitle {
    font-size: 10px;
    max-width: 172px;
  }
}